src\creds.json
src/creds.json
update_times.json
logs
database
staff_bulletin.txt
parseTest
spOdds.py
factoringlogs/factoring.json
watchlist.json
vip.json
clients.txt
src/data.json
getClientDetails.py
src/gmailcreds.json
token.json
retest.py
yes.py
External Sources.PNG
